@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3e2e7;
  font-family: "Ruluko", sans-serif;
  /* overflow: hidden; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.wrapper {
  /* Container */
  position: absolute;
  width: 410px;
  height: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  background: #ffffff;
  /* border: 1px solid rgba(168, 168, 168, 0.62); */
  box-sizing: border-box;
  box-shadow: 4px 2px 21px rgba(0, 0, 0, 0.04);
  /* top: 40%;
  right: 50%;
  transform: translate(50%, -40%); */
}

.title {
  position: absolute;
  right: 50%;
  top: 6%;
  font-family: Ruluko;
  font-size: 30px;
  color: #434040;
}

.card {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f2f2f2;
  border-top: 5px solid #60b5ba;
  border-radius: 50px 50px 0 0;
  top: 65%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px 0;
}
.card > div,
.card > form {
  width: 312px;
  margin-top: 30px;
}
form > input {
  width: 312px;
  padding: 6px 0;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 4px 2px 21px rgba(0, 0, 0, 0.04);
}

button {
  margin-top: 15px;
  width: 312px;
  padding: 10px 0;
  font-family: inherit;
}

.button-add {
  margin-top: 30px;
  background: #60b5ba;
  border: 1px solid #d0d0d0;
  color: #ffffff;
  box-shadow: 4px 2px 21px rgba(0, 0, 0, 0.04);
}

.button-skip {
  background-color: #ffffff00;
  border: none;
}
.showMsg {
  position: fixed;
  bottom: 5%;
  right: -10%;
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  transition: all 0.7s ease;
}
.slide {
  bottom: 5%;
  right: 5%;
}
.danger {
  background: #f55a5a;
}
.success {
  background: #5af579;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    /* Container */
    position: absolute;
    width: 510px;
    height: 80%;
  }
}
